<div class="span3 leftcol well">
  <h3>Sign In</h3><br/>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
  </div>
  <div class="field">
    <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
  </div>
  <%= submit_tag "Sign In", :class => "btn btn-info" %></div>
<% end %>
</div>
