<div class="span6 leftcol well">
  <%= image_tag("livingsocial.png") %><br/><br/>
  Enter a link to a LivingSocial Escape to automatically create a new itinerary.<br/><br/>
  <%= form_tag('/trips', :method => :post) do %>
    <%= text_field_tag 'livingsocial' %>
    <%= submit_tag "Submit", :class => 'btn btn-info' %>
  <% end %>
</div>
