<div class="span3 well leftcol">
<h3>Sign Up</h3>
<form method='post' action='/users'><br/>
    <input type='text' placeholder='Username' name='user[username]' /><br/>
    <input type='text' placeholder='Email' name='user[email]' /><br/>
    <input type='password' placeholder='Password' name='user[password]' /><br/>
    <input type='password' placeholder='Password Confirmation' name='user[password_confirmation]' />
    <br/>
    <input type='submit' value='Create an Account' class='btn btn-info' />
  </form>
  <br/><hr/><br/>
<h3>Sign In</h3>
  <form method='post' action='/sessions'><br/>
    <input type='text' placeholder='Email' name='email' /><br/>
    <input type='password' placeholder='Password' name='password' />
    <br/>
    <input type='submit' value='Sign In' class='btn btn-info' />
  </form>
</div>
<br>
<div class='black-transparent-box'>


