/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: url('beach.jpg');
  background-size: 100%;
  font-size: 17px !important;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

.well {
   background-color: rgba(245, 245, 245, 0.5) !important;
}


.brand {
  font-family: "corner-store";
  font-size: 30px !important;
}

h1 {
  font-family: "corner-store" !important;
}

.leftcol{
   margin-left: -10px !important;
}

.rightcol {
  margin-left: 140px !important;
}

.error_messages {
  font-size: 14px !important;
}
