// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ls {
  width: 220px !important;
  margin-left: 30px !important;
}

.ti {
  width: 200px !important;
  margin-left: 0px !important;
}

.fs {
  width: 150px !important;
  margin-left: 0px !important;
}

.fst {
  width: 250px !important;
}

.ewm {
  margin-left: 0px !important;
}


.btn {
  font-size: 15px !important;
}

.edit {
  font-size: 12px !important;
  margin-left: 50px !important;
}

h1, h2 {
  display: inline-block !important;
}

.small {
  margin-left: 40px !important;
}

.date {
 font-size: 12px !important;
 color: gray;
}

.link {
  margin-left: 0px !important;
}

.lodging-date {
  font-size: 14px !important;
}

.heading {
  margin-left: -10px !important;
  padding-right: 69px !important;
}

.info {
  margin-right: 30px;
}

.items {
  margin-left: 23px !important;
  width: 488px !important;
}

.gravatar {
  height: 50px;
}

.img {
  margin-left: 0px !important;
}

.username {
  margin-left: 0px !important;
}
